@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

;

@plugin "daisyui/theme" {
    name: "ustp";
    default: true;
    prefersdark: false;
    color-scheme: light;

    /* Brand colors */
    --color-primary: #201B51;
    /* USTP navy */
    --color-primary-content: #ffffff;


    /* Secondary (USTP gold) */
    --color-secondary: #F5B301;
    --color-secondary-content: #ffffff;
}