@import "tailwindcss";


@theme {
    --color-primary: #3c5898;
    --color-secondary: #F0F2F5;
}

/* @plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

;

@plugin "daisyui/theme" {
    name: "ustp";
    default: true;
    prefersdark: false;
    color-scheme: light;

    --color-primary: #201B51;
    --color-primary-content: #ffffff;


    --color-secondary: #F5B301;
    --color-secondary-content: #ffffff;
} */